body{
    font-family: initial,cursive;
    margin: 80px;
    background: silver;
}

#container{
    width: 650px;
    height: 350px;
    background-color: orange;
    margin: auto;
    border-radius: 50px;
}

h1{
    font-size: 47px;
    font-weight: 600;
    color: maroon;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 170px;
    background: yellow;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

#weekday{
    font-size: 80px;
    color: maroon;
    font-weight: 800;
    margin-left: 200px;
}

#phrase{
    font-size: 30px;
    color: maroon;
    font-weight: 800;
    margin-left: 180px;
}
