body{
    font-family: initial,cursive;
    margin: 80px;
    background: burlywood;
}

#container{
    width: 600px;
    height: 350px;
    background-color: brown;
    margin: auto;
    border-radius: 50px;
}

h1{
    font-size: 50px;
    font-weight: 600;
    color: maroon;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 170px;
    background: lavenderblush;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

#weekday{
    font-size: 70px;
    color: maroon;
    font-weight: 800;
    margin-left: 150px;
}

#phrase{
    font-size: 30px;
    color: maroon;
    font-weight: 800;
    margin-left: 180px;
}
